<div class="first__screen screen__page">
  <div class="background__figure_1"></div>
  <div class="background__figure_2"></div>
  //= header.html
  <div class="content first__screen_layer">

    <div class="first__screen_cont">
      <div class="screen__cont__action">
        <h1 class="screen__cont_title">Crypto & Digital Wallet, Redefined.</h1>
        <a id="dwnlink" href="#" download="" class="drop">
          <div class="drop__text">Download OnWallet for Windows</div>
          <input type="checkbox" name="" id="ddn">
          <label class="drop__button" for="ddn">
            <i class="icon arrow"></i>
            <ul class="drop__list">
              <li><a href="#"><i class="icon os win"></i> OnWallet for Windows</a></li>
              <li><a href="#"><i class="icon os mac"></i>OnWallet for macOS X</a></li>
            </ul>
          </label>
        </a>
        <div class="download__links">
          <div class="download__links_title">
            Get OnWallet for mobile
          </div>
          <div class="download__links_bloc">
            <div class="download__links_qr">

            </div>
            <div class="download__links_market">
              <div class="download__links_apple"></div>
              <div class="download__links_google"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="screen__cont__image">

      </div>
    </div>
  </div>
</div>