<div class="first__screen screen__page">
  <div class="background__figure_1"></div>
  <div class="background__figure_2"></div>
  //= header.html
  <div class="content first__screen_layer">

    <div class="first__screen_cont">
      <div class="screen__cont__action">
        <h1 class="screen__cont_title">Crypto & Digital Wallet, Redefined.</h1>
        <div class="drop__wrap">
          <div class="drop">
            <a id="dwnlink" href="#" download="" class="drop__text">Download OnWallet for Windows</a>
          </div>

          <div class="drop__button" for="ddn"></div>
          <div class="drop__list_wrap">
            <div class="drop__list dd">
              <a href="#" download=""><i class="icon os windows"></i> OnWallet for Windows</a>
              <a href="#" download=""><i class="icon os macos"></i>OnWallet for macOS X</a>
            </div>
          </div>
        </div>
        <div class="download__links">
          <div class="download__links_title">
            Get OnWallet for mobile
          </div>
          <div class="download__links_bloc">
            <div class="download__links_qr">

            </div>
            <div class="download__links_market">
              <div class="download__links_apple"></div>
              <div class="download__links_google"></div>
            </div>
          </div>
        </div>
      </div>
      <img class="screen__cont__image" src="./img/onw/phone-top-view-v4-dited@2x.png" alt="">
      <!-- <div > -->
    </div>
  </div>
  <img src='./img/onw/Path 5917.svg' alt="" class="background__wave_1" />
</div>