<div class="second__screen screen__page">
    <!-- <div class="background__wave_1"></div> -->
    <div class="background__figure_1"></div>
    <div class="background__figure_2"></div>
    <!-- <div class="background__figure_3"></div> -->
    <!-- <div class="background__figure_4"></div> -->
    <!-- <div class="background__figure_5"></div> -->
    <!-- <div class="background__figure_6"></div> -->
    <!-- <div class="background__figure_7"></div> -->
    <!-- <div class="background__figure_8"></div> -->
    <div class="content">
      <h2 class="screen__title">
        One Awesome Way
      </h2>
      <div class="screen_description">
        OnWallet is a new way of simple, smart and secure investing and trading. One Awesome way to banking.
      </div>
      <div class="screen_action">
        <div class="action__item">
          <div class="action__item_img"></div>
          <div class="action__item_description">A multi-currency wallet management system, we’ve made OnWallet work impeccably for buying, selling and trading our secure cryptocurrency, Deho. But we’ve also made it work seamlessly for multi-asset cryptocurrencies and FIAT currencies.</div>
        </div>
      </div>
    </div>
  </div>