<div class="second__screen screen__page">
    <div class="background__wave_1"></div>
    <div class="background__figure_1"></div>
    <div class="background__figure_2"></div>
    <div class="background__figure_3"></div>
    <div class="background__figure_4"></div>
    <div class="background__figure_5"></div>
    <div class="background__figure_6"></div>
    <div class="background__figure_7"></div>
    <div class="background__figure_8"></div>
    <div class="content">
      <h2 class="screen__title">
        One Awesome Way
      </h2>
      <div class="screen_description">
        OnWallet is a new way of simple, smart and secure investing and trading. One Awesome way to banking.
      </div>
      <div class="screen_action">
        <div class="action__item">
          <h3 class="action__item_title">On-spot. OnWallet. Locally, Internationally.</h3>
          <div class="action__item_description">The OnWallet payment gateway is instantaneous. With one tap, OnWallet lets you transfer/exchange FIAT or cryptocurrency anywhere, real-time with the best exchange rate and no extra fees. That’s fast, easy and cheap thanks to OnWallet’s accelerated mining.</div>
        </div>
        <div class="action__item">
          <h3 class="action__item_title">On-spot. OnWallet. Locally, Internationally.</h3>
          <div class="action__item_description">The OnWallet payment gateway is instantaneous. With one tap, OnWallet lets you transfer/exchange FIAT or cryptocurrency anywhere, real-time with the best exchange rate and no extra fees. That’s fast, easy and cheap thanks to OnWallet’s accelerated mining.</div>
        </div>
        <div class="action__item">
          <h3 class="action__item_title">On-spot. OnWallet. Locally, Internationally.</h3>
          <div class="action__item_description">The OnWallet payment gateway is instantaneous. With one tap, OnWallet lets you transfer/exchange FIAT or cryptocurrency anywhere, real-time with the best exchange rate and no extra fees. That’s fast, easy and cheap thanks to OnWallet’s accelerated mining.</div>
        </div>
      </div>
    </div>
  </div>