<div class="third__screen screen__page">
    <div class="content">
      <h2 class="screen__title">
        The 0% Rule
      </h2>
      <div class="screen_description">
        OnWallet is a multi-currency block chain wallet supporting cryptocurrencies and FIAT currencies. Check out our fees.
      </div>
      <div class="block__fee first">
        <div class="fee__item">
          <div class="fee__item_val">0%</div>
          <div class="fee__item_desc">monthly fee</div>
        </div>
        <div class="fee__item">
          <div class="fee__item_val">0%</div>
          <div class="fee__item_desc">monthly fee</div>
        </div>
        <div class="fee__item">
          <div class="fee__item_val">0%</div>
          <div class="fee__item_desc">monthly fee</div>
        </div>
        <div class="fee__item">
          <div class="fee__item_val">0%</div>
          <div class="fee__item_desc">monthly fee</div>
        </div>
      </div>
    </div>
    <div class="screen_action video__action_block">
      <div class="background__for_video"></div>
      <button class="button_play_video"></button>
      <div class="button_play_video_text">Watch to discover more</div>
    </div>
    <div class="screen_action">
      <div class="content">
        <div class="screen_description">
          Low fees on other transactions
        </div>
        <div class="block__fee second">
          <div class="fee__item">
            <div class="fee__item_val">0%</div>
            <div class="fee__item_desc">monthly fee</div>
          </div>
          <div class="fee__item">
            <div class="fee__item_val">0%</div>
            <div class="fee__item_desc">monthly fee</div>
          </div>
          <div class="fee__item">
            <div class="fee__item_val">0%</div>
            <div class="fee__item_desc">monthly fee</div>
          </div>
        </div>
      </div>
    </div>
    <button class="btn">Get OnWallet Now</button>
  </div>