<div class="foth__screen screen__page">
    <div class="background__figure_1"></div>
    <div class="background__figure_2"></div>
    <div class="background__figure_3"></div>
    <div class="background__figure_4"></div>
    <div class="background__figure_5"></div>
    <div class="background__figure_6"></div>
    <div class="background__figure_7"></div>
    <div class="background__figure_11"></div>
    <div class="background__figure_12"></div>
    <div class="background__figure_22"></div>
    <div class="content">
        <h2 class="screen__title">
            Deho Cryptocurrency
        </h2>
        <div class="screen_description">
            The Golden Rule of Cryptocurrency <br /> Deho Makes the New Rules.
        </div>
    </div>

    <div class="screen_action first">
        <div class="background__wave_2"></div>
        <div class="screen_action__img"></div>
    </div>
    <div class="content">
        <div class="screen_description">
            Deho gives Crypto a Face-Value: pure precious metals including but not limited to Gold!
        </div>
        <div class="screen_action second">
            <div class="action__item">
                <h3 class="action__item_title">Transact Real-time and Real-Value</h3>
                <div class="action__item_description">
                    Deho is Real value because all Deho coins are linked to real
                    assets, Gold, Silver and platinum. As a default, Deho is linked to Gold ensuring all investments
                    made on OnWallet using Deho are securer. We developed high-speed mining to ensure vendors transact
                    real-time and instantly.
                </div>
            </div>
            <div class="action__item">
                <h3 class="action__item_title">Hardware based End-to-End Security</h3>
                <div class="action__item_description">
                    Security first. Deho operates within a hybrid-decentralized
                    technology. Using hardware-based isolation, OnWallet reduces any fraudulent transaction and
                    intrusions during transactions and protects records of transaction using the secure private key.
                </div>
            </div>
            <div class="action__item">
                <h3 class="action__item_title">Your transaction is Super-Secure and Recoverable</h3>
                <div class="action__item_description">
                    Since OnWallet operates offline, single point failure is avoidable in case of network failure, errors or system crash. Any fraudulent transaction is recoverable in Deho using OnWallet in such cases.
                </div>
            </div>
        </div>
        <div class="screen_description">
            We trade with popular crypto currencies
        </div>
        <div class="screen_action third">
            <div class="action__item">
                <div class="action__item_img"></div>
                <div class="action__item_delimeter"></div>
            </div>
            <div class="action__item">
                <div class="action__item_img"></div>
                <div class="action__item_delimeter"></div>
            </div>
            <div class="action__item">
                <div class="action__item_img"></div>
                <div class="action__item_delimeter"></div>
            </div>
            <div class="action__item">
                <div class="action__item_img"></div>
                <div class="action__item_delimeter"></div>
            </div>
            <div class="action__item">
                <div class="action__item_img"></div>
                <div class="action__item_delimeter"></div>
            </div>
            <div class="action__item">
                <div class="action__item_img"></div>
                <div class="action__item_delimeter"></div>
            </div>
            <div class="action__item">
                <div class="action__item_img"></div>
                <div class="action__item_delimeter"></div>
            </div>
            <div class="action__item">
                <div class="action__item_img"></div>
                <div class="action__item_delimeter"></div>
            </div>
            <div class="action__item">
                <div class="action__item_img"></div>
                <!-- <div class="action__item_delimeter"></div> -->
            </div>
        </div>
        <a href="#" download="" class="btn dwn">Trade Deho with OnWallet</a>
    </div>
</div>