<div class="foth__screen screen__page">
    <div class="background__figure_1"></div>
    <div class="background__figure_2"></div>
    <div class="background__figure_3"></div>
    <div class="background__figure_4"></div>
    <div class="background__figure_5"></div>
    <div class="background__figure_6"></div>
    <div class="background__figure_7"></div>
    <div class="content">
        <h2 class="screen__title">
            Deho Cryptocurrency
        </h2>
        <div class="screen_description">
            Deho is the first digital coin that is protected by gold by default. This makes your crypto investments
            securest.
        </div>
    </div>

    <div class="screen_action first">
        <div class="background__wave_2"></div>
        <div class="screen_action__img"></div>
    </div>
    <div class="content">
        <div class="screen_description">
            We’ve built Deho to run on a hybrid-decentralized architecture. This means your Deho digital currency is
            also protected using a Private key, making it the securest cryptocurrencies yet.
        </div>
        <div class="screen_action xxx">
            <div class="action__item">
                <h3 class="action__item_title">Deho is as real as Gold</h3>
                <div class="action__item_description">Every Deho coin you buy gets linked to Gold. 50% of one Deho
                    coin’s value gets linked to real Gold. The remaining 50% of the Crypto value is in your OnWallet
                    Account.</div>
            </div>
            <div class="action__item">
                <h3 class="action__item_title">Deho is Recoverable</h3>
                <div class="action__item_description">We use tunnel protection – an industry standard SSL and
                    proprietary transport layer to protect information passing through the internet to prevent theft.
                    One-tap and recover your coin, simple as that!</div>
            </div>
            <div class="action__item">
                <h3 class="action__item_title">Privacies? No Worries!</h3>
                <div class="action__item_description">We operate anonymous and private using boundary based private
                    ledger. With the hybrid-decentralized architecture, your ledger will not go public and it will
                    remain private, locked using your own private key. Also, it runs on a smart block chain ledger that
                    tracks the movement of the coin and registers it with OnWallet.</div>
            </div>
        </div>
        <button class="btn">Trade Deho with OnWallet</button>
    </div>
</div>