<div class="fifth__screen screen__page">

    <div class="background__figure_15"></div>
    <div class="background__figure_14"></div>

    <div class="content">
        <h2 class="screen__title">
            Rich Functionality
        </h2>
        <div class="screen_action">
            <div class="action__item first">
                <div class="action__item_img">
                    <div class="background__figure_31"></div>
                    <div class="background__figure_32"></div>
                    <div class="action__item_img_phone">
                        <div class="item__1 visible"></div>
                        <div class="item__2"></div>
                        <div class="item__3"></div>
                        <div class="item__4"></div>
                    </div>
                </div>
                <div class="action__item_desc">
                    <h3 class="action__item_title">On-spot. OnWallet. Locally, Internationally.</h3>

                    <div class="action__item_description">The OnWallet payment gateway is instantaneous. With one tap, OnWallet lets you transfer/exchange FIAT or cryptocurrency anywhere, real-time with the best exchange rate and no extra fees. That’s fast, easy and cheap thanks to OnWallet’s accelerated mining.</div>
                    <ul class="action__item_description__list">
                        <li class="item__hover" hattr='1'>
                            <div class="item__img"><i class="icon transfer"></i></div>
                            <div class="item__description">

                                <h4>Transfer</h4>
                                <div>
                                    Transfer FIAT or Cryptocurrencies to anyone and anywhere in a faster and easiest way than traditions. With Deho’s high-speed crypto, the coin transfer between users or merchants will be instant than any other cryptocurrencies.
                                </div>
                            </div>
                        </li>
                        <li class="item__hover" hattr='2'>
                            <div class="item__img"><i class="icon recive"></i></div>
                            <div class="item__description">

                                <h4>Receive</h4>
                                <div>
                                    With OnWallet, personal and business account holders can send payment request invoice to anyone. The sender can pay instantly from different payment sources like OnWallet wallet, Crypto wallet, Card, Shopping, and Shopping Rewards linked third-party e-wallets.
                                </div>
                            </div>
                        </li>
                        <li class="item__hover" hattr='3'>
                            <div class="item__img"><i class="icon exchange"></i></div>
                            <div class="item__description">

                                <h4>Exchange</h4>
                                <div>
                                    With OnWallet, user can exchange from Deho to other cryptocurrencies or FIAT currency and vice-versa at 3% flat currency conversion fee.
                                </div>
                            </div>
                        </li>
                        <li class="item__hover" hattr='4'>
                            <div class="item__img"><i class="icon nfc"></i></div>
                            <div class="item__description">

                                <h4>NFC Pay</h4>
                                <div>
                                    Partnering with the world-class providers and exchange platforms, OnWallet has developed a Virtual and Physical Card with NFC support that lets you do more. With OnWallet card, make payment, trading, buying and selling simple at anyplace and anytime.
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="background__circle_4"></div>
            <div class="action__item second">
                <div class="action__item_img">
                    <div class="background__figure_33"></div>
                    <div class="background__figure_34"></div>
                    <div class="action__item_img_phone">
                        <div class="item__5 visible"></div>
                        <div class="item__6"></div>
                        <div class="item__7"></div>
                    </div>
                </div>
                <!-- <div class="action__item_img"></div> -->
                <div class="action__item_desc">
                    <h3 class="action__item_title">Buy. Save. Gain. Grow.</h3>

                    <div class="action__item_description">With OnWallet, buying Deho cryptocurrency is an investing in what e called MVV (Minimum Valid Value) in gold and/or silver and/or platinum. The only cryptocurrency that allows the users to choose the most precious metals to link with the Deho coin.</div>
                    <ul class="action__item_description__list">
                        <li class="item__hover" hattr='5'>
                            <div class="item__img"><i class="icon trade"></i></div>
                            <div class="item__description">

                                <h4>Trade Deho and/or Another cryptocurrencies</h4>
                                <div>
                                    OnWallet is a platform to make cryptocurrencies trading secure yet simple. The
                                    OnWallet marketplace lets you trade other cryptocurrincies and digital assets
                                    efficiently in few taps from mobile and desktop App.
                                </div>
                            </div>
                        </li>
                        <li class="item__hover" hattr='6'>
                            <div class="item__img"><i class="icon manage"></i></div>
                            <div class="item__description">

                                <h4>OnWallet Business</h4>
                                <div>
                                    With OnWallet business account, merchants can receive the payments from the
                                    customers instantly in different formats of currencies without any border
                                    restrictions. Merchants can issue product offers, vouchers instantly to the users
                                    and make the environment green.
                                </div>
                            </div>
                        </li>
                        <li class="item__hover" hattr='7'>
                            <div class="item__img"><i class="icon observe"></i></div>
                            <div class="item__description">

                                <h4>Shopping Cards</h4>
                                <div>
                                    With OnWallet virtual shopping card, OnWallet account holders can simply collect and
                                    redeem the rewards, gifts, loyalty points, vouchers, e-tickets, etc.
                                </div>
                            </div>
                        </li>

                    </ul>
                </div>
            </div>

            <div class="background__circle_5"></div>
            <!-- {/* <div class="action__item">
                <div class="action__item_img"></div>
                <div class="action__item_desc">
                    <h3 class="action__item_title">On-spot. OnWallet. Locally, Internationally.</h3>

                    <div class="action__item_description screen_description">The OnWallet payment gateway is
                        instantaneous. With one tap, OnWallet lets you transfer/exchange FIAT or cryptocurrency
                        anywhere, real-time with the best exchange rate and no extra fees. That’s fast, easy and cheap
                        thanks to OnWallet’s accelerated mining.</div>
                    <ul class="action__item_description__list">
                        <li class="item__hover" hattr='1'>
                            <h4>Transfer</h4>
                            <div>
                                At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium
                                voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint
                            </div>
                        </li>
                        <li class="item__hover" hattr='1'>
                            <h4>Transfer</h4>
                            <div>
                                At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium
                                voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint
                            </div>
                        </li>
                        <li class="item__hover" hattr='1'>
                            <h4>Transfer</h4>
                            <div>
                                At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium
                                voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint
                            </div>
                        </li>
                        <li class="item__hover" hattr='1'>
                            <h4>Transfer</h4>
                            <div>
                                At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium
                                voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint
                            </div>
                        </li>
                    </ul>
                </div>
            </div> */} -->
            <div class="background__circle_6"></div>
        </div>
    </div>
    <div class="global__screen">
        <img src="./img/onw/Path 6038.svg" alt="" class="global__screen_img">
        <img src="./img/onw/Pages-layout 2x@2x.png" alt="" class="global__screen_img_back">
    </div>
</div>