<div class="sixth__screen screen__page">
    <div class="content">
        <h2 class="screen__title">
            Frequently Asked Questions
        </h2>
        <div class="screen_action">
            <ul class="question__list">
                <li class="question__item">
                    <input type="checkbox" name="" id="q1">
                    <label for="q1">
                        <div class="question__text"> When will OnWallet be available?</div>
                        <div class="question__answer">
                            At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium
                            voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint. At vero
                            eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum
                            deleniti atque corrupti quos dolores et quas molestias excepturi sint
                        </div>
                    </label>
                </li>
                <li class="question__item">
                    <input type="checkbox" name="" id="q2">
                    <label for="q2">
                        <div class="question__text"> When will OnWallet be available?</div>
                        <div class="question__answer">
                            At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium
                            voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint. At vero
                            eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum
                            deleniti atque corrupti quos dolores et quas molestias excepturi sint
                        </div>
                    </label>
                </li>
            </ul>
        </div>
    </div>
</div>