<div class="sixth__screen screen__page">
    <div class="background__figure_43"></div>
    <div class="background__figure_44"></div>
    <div class="background__figure_45"></div>

    <div class="content">
        <h2 class="screen__title">
            Frequently Asked Questions
        </h2>
        <div class="screen_action">
            <ul class="question__list">
                <li class="question__item">
                    <input type="checkbox" name="" id="q1">
                    <label for="q1">
                        <div class="question__text"> When will OnWallet be available?</div>
                        <div class="question__answer">
                            OnWallet is currently being built. Sign up here to be one of the first to know about OnWallet.
                        </div>
                    </label>
                </li>
                <li class="question__item">
                    <input type="checkbox" name="" id="q2">
                    <label for="q2">
                        <div class="question__text">What do I need to get started?</div>
                        <div class="question__answer">
                            When OnWallet is available, you will need a government-issued ID to sign up for an account. Identity verification is important to comply with laws and prevent fraud, so you know people are who they say they are.
                        </div>
                    </label>
                </li>
                <li class="question__item">
                    <input type="checkbox" name="" id="q3">
                    <label for="q3">
                        <div class="question__text">How can I use OnWallet?</div>
                        <div class="question__answer">
                            OnWallet will be available as a stand-alone app in the App Store, Google Play and Desktop installers. With our stand-alone app, you can send and receive money as easily as you message friends, family, and businesses.
                        </div>
                    </label>
                </li>
                <li class="question__item">
                    <input type="checkbox" name="" id="q4">
                    <label for="q4">
                        <div class="question__text">What can I use OnWallet for?</div>
                        <div class="question__answer">
                            OnWallet is designed for globally recognized FIAT currencies and popular cryptocurrencies. You can use OnWallet to send money around the world. You can also keep Deho cryptocurrency in your OnWallet wallet and use it to pay for everyday transactions wherever it is accepted.
                        </div>
                    </label>
                </li>
                <li class="question__item">
                    <input type="checkbox" name="" id="q5">
                    <label for="q5">
                        <div class="question__text"> When will OnWallet be available?</div>
                        <div class="question__answer">
                            What you send is what they get. You can add, send, receive, and withdraw money from your wallet without worrying about hidden charges. OnWallet is cutting fees to help people keep more of their money.
                        </div>
                    </label>
                </li>
                <li class="question__item">
                    <input type="checkbox" name="" id="q6">
                    <label for="q6">
                        <div class="question__text">Where is OnWallet available?</div>
                        <div class="question__answer">
                            OnWallet is available to everyone, anywhere in the world. We’re working to bring OnWallet to as many countries as possible.
                        </div>
                    </label>
                </li>
                <li class="question__item">
                    <input type="checkbox" name="" id="q7">
                    <label for="q7">
                        <div class="question__text">Can I use my local currency in OnWallet?</div>
                        <div class="question__answer">
                            OnWallet is designed for globally recognized FIAT currencies and popular cryptocurrencies, so when you send and spend your money, you’ll be using the currency you choose. Through OnWallet, you can use your local currency to purchase Deho, and also convert Deho back to your local currency when you want to withdraw.
                        </div>
                    </label>
                </li>
                <li class="question__item">
                    <input type="checkbox" name="" id="q8">
                    <label for="q8">
                        <div class="question__text">How will you prevent fraud?</div>
                        <div class="question__answer">
                            Accounts and transactions are verified, and fraud prevention is built in throughout the mobile and desktop app. OnWallet uses government-issued IDs to verify customers, so you can trust people are who they say they are. OnWallet also has in-app reporting and dedicated customer care. In the event of fraud, you will be eligible to receive a full refund.
                        </div>
                    </label>
                </li>
                <li class="question__item">
                    <input type="checkbox" name="" id="q9">
                    <label for="q9">
                        <div class="question__text">Can businesses use OnWallet?</div>
                        <div class="question__answer">
                            OnWallet merchant services will help businesses big and small accept OnWallet and Deho online, in-app, and in-store.
                        </div>
                    </label>
                </li>
                <li class="question__item">
                    <input type="checkbox" name="" id="q10">
                    <label for="q10">
                        <div class="question__text">What is the OnWallet payment system?</div>
                        <div class="question__answer">
                            The OnWallet payment system is a secure and scalable platform; Deho cryptocurrency that are backed by a reserve of assets made up of Gold, Silver and Platinum.
                        </div>
                    </label>
                </li>
            </ul>
        </div>
    </div>
</div>