<div class="seventh__screen screen__page">
    <div class="background__figure_54"></div>

    <div class="content">
        <h2 class="screen__title">
            One-Stop Crypto Trading and Wallet
        </h2>
        <div class="screen_action">
            <a href="#" download="" class="btn dwn">Download OnWallet</a>
            <div class="download__links_market">
                <a href="#" class="download__links_apple"></a>
                <a href="#" class="download__links_google"></a>
              </div>
        </div>
    </div>
</div>
<img src="./img/onw/Path 5946.svg" alt="" class="background__wave_3">
