<footer>
  <div class="content">
    <div class="fline">
      <a href="/#/login" class="logo"></a>
      <ul class="menu">
        <li><a href="#"><i class="icon os ios"></i></a></li>
        <li><a href="https://onwallet-desktop-ui.s3.eu-central-1.amazonaws.com/mac.zip"><i class="icon os macos"></i></a></li>
        <li><a href="#"><i class="icon os android"></i></a></li>
        <li><a href="https://onwallet-desktop-ui.s3.eu-central-1.amazonaws.com/win-unpacked.zip"><i class="icon os windows"></i></a></li>
      </ul>
    </div>
    <div class="footer__text_wrap">
      <div class="footer__text_section">
        When you visit or interact with our sites, services, applications, tools or messaging, we or our authorised
        service providers may use cookies, web beacons, and other similar technologies for storing information to help
        provide you with a better, faster and safer experience and for advertising purposes.
      </div>
      <div class="footer__text__privacy">
        <div class="footer__text__powered">
          OnWallet Services are provided by OnWallet Limited.
        </div>
        <div class="footer__text__copyright">
          Ⓒ 2020 OnWallet. All rights reserved.
        </div>
        <a href="/policy" class="footer__text__privacy_policy">
          Privacy Policy
        </a>
      </div>
    </div>
  </div>
</footer>