<footer>
    <div class="content">
      <div class="fline">
        <a href="/" class="logo"></a>
        <ul class="menu">
          <li><a href="#"><i class="icon os ios"></i></a></li>
          <li><a href="#"><i class="icon os macos"></i></a></li>
          <li><a href="#"><i class="icon os android"></i></a></li>
          <li><a href="#"><i class="icon os windows"></i></a></li>
        </ul>
      </div>
      <div class="footer__text_section">
        Banking services provided by OnWallet or Members FDIC. OnWallet Visa® Debit Card is issued by The Bank pursuant to a license from Visa U.S.A. Inc. and may be used everywhere Visa debit cards are accepted. The OnWallet Visa® Credit Builder Card is issued by Bank pursuant to a license from Visa U.S.A. Inc. and may be used everywhere Visa credit cards are accepted. Please see back of your Card for its issuing bank. Please note: By clicking on some of the links above, you can leave OnWallet website and be directed to an external website. The privacy policies of the external website may differ from our privacy policies. Please review the privacy policies and security indicators displayed on the external website before providing and personal information.
    </div>
      <div class="footer__text__privacy">
        <div class="footer__text__copyright">
          Ⓒ 2020 OnWallet. All rights reserved.
      </div>
        <a href="#" class="footer__text__privacy_policy">
          Privacy Policy
      </a>
      </div>
    </div>
  </footer>