<header>
  <div class="content">
    <a href="/" class="logo"></a>
    <ul class="menu">
      <li><a href="#">About</a></li>
      <li class="link"><a href="#">Download</a></li>
      <div class="drop__list_wrap">
        <div class="drop__list dd">
          <a href="#" download=""><i class="icon os windows"></i> OnWallet for Windows</a>
          <a href="#" download=""><i class="icon os macos"></i>OnWallet for macOS X</a>
        </div>
      </div>
      <li><a href="http://alpha.onwallet.com/#/login">Log In</a></li>
      <li><a href="http://alpha.onwallet.com/#/register">Register</a></li>
    </ul>
  </div>
</header>