<div class="main__wrap">
    <div class="content">
        <a href="/landing" class="back__button first">Homepage</a>
        <h1 class="global_title">PRIVACY</h1>
        <h3 class="sub_title">1. Use of Cookies</h3>
        <p class="par">
            We use cookies on our site for Google Analytics. Google Analytics is a web analytics tool that helps website owners understand how visitors engage with their website. Google Analytics customers can view a variety of reports about how visitors interact with their website so that they can improve it. Like many services, Google Analytics uses first-party cookies to track visitor interactions as in our case, where they are used to collect information about how visitors use our site. We then use the information to compile reports and to help us improve our site. Google Analytics collects information anonymously. It reports website trends without identifying individual visitors.
            You may refuse or delete cookies by activating the setting on your browser which allows you to refuse or delete the setting of cookies. However, if you select this setting you may be unable to access certain parts of our site.
            You may opt out of Google Analytics without affecting how you visit our site – for more information on opting out of being tracked by Google Analytics across all websites you use, visit this Google page.
        </p>
        <h3 class="sub_title">2. Information We Collect</h3>
        <p class="par">
            This Privacy Policy explains what happens to any personal data that you provide to us, or that we collect from you whilst you visit our site. Information we collect in running and maintaining our website we may collect and process the following data about you:
            <li>2.1. We might collect and use information about your computer (such as your IP address, operating system and browser type) for system administration and reporting. This information that we collect is statistical data about your browsing history (includes traffic data, location data and other communication data) but does not identify any individual. For the same reasons, we may collect information about your general internet usage by using a cookie file which is stored on the hard drive of your computer. Cookies contain information that is transferred to your computer’s hard drive. They help us to improve our site and to deliver a better and more personalized service;</li>
            <li>2.2. Information provided voluntarily by you. For example, when you register;</li>
            <li>2.3. Information that you provide when you communicate with us by any means.</li>
            
        </p>

        <h3 class="sub_title">3. How OnWallet Uses Your Information</h3>
        <p class="par">
            OnWallet may use your information:

            <li>3.1. to provide you with personalized content;</li>
            <li>3.2. to process and respond to inquiries;</li>
            <li>3.3. for the purposes for which you provided the information;</li>
            <li>3.4. to improve the content and navigability of the Website;</li>
            <li>
                3.5. to alert you to new features, special events, and service offerings including our newsletter to enforce the Terms of Use.
            </li>
        </p>

        <h3 class="sub_title">4. Information Sharing with Third Parties</h3>
        <p class="par">
            OnWallet may disclose your personally identifiable information to another entity:

            <li>4.1. for purposes of outsourcing one or more of the functions or services described in the previous section;</li>
            <li>4.2. to confirm or update information provided by you;</li>
            <li>4.3. to inform you of events, information about our services, and other important information, or</li>
            <li>
                4.4. for other purposes disclosed at or before the time the information is collected. If you tell us you wish to attend an event appearing on the Website, your name and organization may appear on a list which we provide to other delegates at the event. OnWallet may also share your information when legally required to do so.
            </li>
        </p>

        <h3 class="sub_title">5. How We Collect Information</h3>
        <p class="par">
            In addition to the methods described above, we and our service providers collect information using cookies,
            web beacons, pixel tags or similar digital marker technologies. 
            These methods permit us to collect various types of information, 
            including which pages you visit, which of our newsletter articles you clicked on, 
            and other information. We and our service providers use this information to monitor 
            and improve our Website and to show you advertisements about OnWallet when you 
            visit other sites. For more details on how we use cookies, 
            see our Cookie Policy. For general guidance on cookies, please visit: <a href="http://www.allaboutcookies.org"> http://www.allaboutcookies.org </a> 
        </p>

        <h3 class="sub_title">6. How We Protect Information.</h3>
        <p class="par">
            OnWallet attempts to protect against the loss, 
            misuse and alteration of your personal information. 
            OnWallet has implemented reasonable administrative, 
            technical and physical measures to protect your personal information.
        </p>

        <h3 class="sub_title">7. How You Can View Or Update Your Personal Information</h3>
        <p class="par">
            You have control over your personally identifiable 
            and other personal information. You may request to update 
            your information by contacting us or at: support@onwallet.com. 
            We will use reasonable efforts to process any change you make 
            within a reasonable time frame, subject to OnWallet’s internal 
            reporting and retention policies and all applicable legal obligations.
        </p>

        <h3 class="sub_title">8. Opt-Out</h3>
        <p class="par">
            If you prefer not to receive any further communications, 
            please email us at: support@onwallet.com and put in the subject line “Data removal”.
            If you no longer use wish to use our Website and also wish to have your data erased, 
            please email us at: support@onwallet.com and put in the subject line 
            “OnWallet User removal and data erasure request”.
        </p>

        <h3 class="sub_title">9. Changes to this Policy and Effective Date</h3>
        <p class="par">
            From time to time, we may change this Policy.
            Changes to this Policy are effective as of the Effective Date stated below, 
            and indicates the last time this Policy was revised or materially changed. 
            Your continued use of the Website indicates your consent to the changes to this Policy.
        </p>

        <h3 class="sub_title">10. Links</h3>
        <p class="par">
            The Website may contain links to third-party websites. 
            OnWallet is not responsible for the privacy practices or the content of such websites.
        </p>

        <h3 class="sub_title">11. Storing your personal data</h3>
        <p class="par">
            We do our upmost to ensure that all reasonable steps are taken to make sure that your data is treated stored securely.
            <br>
            <br>
            Unfortunately, the sending of information via the internet is not totally secure and on occasion such 
            information can be intercepted. We cannot guarantee the security of data that you choose to send us electronically, sending such information is entirely at your own risk.
        </p>

        <h3 class="sub_title">12. Contacting us</h3>
        <p class="par">
            Please do not hesitate to contact us regarding any matter relating to this Privacy Policy at support@onwallet.com.
            <br>
            <br>
            Last updated on June 7th, 2020.
        </p>

        <a href="/landing" class="back__button second">Homepage</a>
    </div>
</div>