<div class="main__wrap">
    <div class="content">
        <a href="/landing" class="back__button first">Homepage</a>
        <h1 class="global_title">H1 Privacy Policy</h1>
        <h2 class="sub_title">H2 Subheading</h2>
        <h3 class="sub_title_text">H3 Lorem ipsum dolor sit amet, consectetur adipis</h3>
        <p class="par">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
            ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
            nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit
            anim id est laborum.
        </p>
        <h3 class="sub_title_text">H3 Lorem ipsum dolor sit amet, consectetur adipis</h3>
        <p class="par">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
            ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
            nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit
            anim id est laborum.
        </p>
        <ul class="privacy__punkt_list">
            <li>
                Donec congue ante finibus libero malesuada, at sagittis mauris sagittis.</li>
            <li>Curabitur dictum quam non augue molestie varius.</li>
            <li>Integer congue ante in libero facilisis tempus.</li>
        </ul>
        <h3 class="sub_title_text">H3 Lorem ipsum dolor sit amet, consectetur adipis</h3>
        <p class="par">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
            ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
            nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit
            anim id est laborum.
        </p>
        <a href="/landing" class="back__button second">Homepage</a>
    </div>
</div>