@media (max-width: 1680px) {
  .foth__screen {
    .background__figure_1 {
      left: 8.85%;
    }

    .background__figure_2 {
      left: -5.28%;
    }

    .background__figure_4 {
      left: 72.43%;
    }

    .background__figure_5 {
      left: 90.43%;
    }

    .background__figure_6 {
      left: 4.85%;
    }
  }

  .sixth__screen {
    .background__figure_44 {
      left: -12%;
    }

    .background__figure_45 {
      right: -24%;
    }
  }
}

@media (max-width: 1280px) {
  .foth__screen {
    .background__figure_1 {
      left: 1.85%;
    }

    .background__figure_2 {
      left: -20.28%;
    }

    .background__figure_4 {
      left: 72.43%;
    }

    .background__figure_5 {
      left: 94.43%;
    }

    .background__figure_6 {
      left: -9.15%;
    }
  }

  .sixth__screen {
    .background__figure_44 {
      left: -35%;
    }

    .background__figure_45 {
      right: -40%;
    }
  }
}
@media (min-width: 1980px) {
    .first__screen {
      min-height: unset;
      max-height: 1090px;
      .first__screen_layer {
        min-height: 1090px;
      }
      .background__figure_1 {
        left: 1681px;
      }
    }
    .fifth__screen .global__screen_img {
      display: none;
    }
    .fifth__screen .global__screen_img_large {
      display: block;
      width: 100%;
      height: 800px;
      background-image: url("../img/onw/Path 9732.png");
      background-size: 100% 100%;
      background-repeat: no-repeat;
    }
    .sixth__screen .background__figure_45 {
      right: 5%;
    }
  }