@mixin setBackgroundImage($url, $size: cover) {
  background-image: url($url);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: $size;
}

@mixin setFlexPosition($justify, $align, $direction: row) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  flex-direction: $direction;
}
