@media (max-width: $mobile) {
    .btn {
        min-width: 312px;
    }
    .content {
        padding: 0 16px;
    }

    .mobile-icon {
        display: flex;
    }

    .desktop-icon {
        display: none;
    }

    header .menu {
        display: flex;
        justify-content: center;
        max-width: 146px;
    }

    .first__screen {
        .first__screen_layer {
            padding-top: 40px;
        }
        .background__figure_2 {
            top: 46px;
            left: -885px;
        }

        .screen__cont__image {
            width: 525px;
            height: 465px;
            margin-left: 52px;
        }
        .screen__cont__action {
            max-width: 328px;
            position: relative;
            margin-left: 2%;
            margin-top: -40px;
        }
        .drop__text {
            padding-left: 20px;
        }
        .drop__wrap {
            margin-bottom: 92px;
        }
        .screen__cont_title {
            font-weight: 900;
            font-size: 36px;
            line-height: 43px;
            margin-bottom: 19px;
        }
        .background__figure_1 {
            top: -413.96px;
            left: 423px;
        }
    }
    .second__screen {
        .content {
            padding-bottom: 90px;
        }
        .screen__title {
            margin-top: 50px;
            margin-bottom: 13px;
        }
        .action__item_img {
            height: 195px;
            margin: 27px auto 22px;
        }
    }
    .third__screen {
        padding-bottom: 58px;
        .btn {
            margin: 24px auto 0;
        }
        .screen__title,
        .screen_description {
            margin-bottom: 23px;
        }
        .block__fee {
            flex-wrap: wrap;
            padding-bottom: 16px;
            padding-top: 16px;
            margin: 0 -16px;
            width: auto;
            justify-content: space-around;
            &.first {
                padding-top: unset;
                .fee__item {
                    max-width: unset;
                    width: 50%;
                }
            }
            &.second {
                .fee__item:first-child {
                    max-width: unset;
                    width: 100%;
                }
            }
        }
        .background__for_video {
            background-position: 54% center;
            background-repeat: repeat;
        }
        .screen_action .screen_description {
            margin-top: -55px;
            margin-bottom: 16px;
        }
    }
    .foth__screen {
        .screen_action.second {
            display: flex;
            flex-direction: column;
            padding-bottom: 148px;

            .action__item {
                max-width: 213px;
            }
        }

        .screen_action.third {
            padding: 0 16px;
        }

        .background__figure_1 {
            top: 550px;
            left: -72px;
            width: 162px;
            height: 147px;
        }

        .background__figure_2 {
            display: none;
        }

        .background__figure_3 {
            top: 842px;
            left: 0;
            right: 0;
            margin: auto;
            width: 48px;
            height: 37px;
        }

        .background__figure_4 {
            width: 169px;
            height: 156px;
            top: 914px;
        }

        .background__figure_6 {
            width: 211px;
            height: 162px;
            top: 1227px;
            left: -94px;
        }

        .background__figure_7 {
            width: 114px;
            height: 48px;
            top: 1488px;
        }

        .background__figure_22 {
            top: 1916px;
            width: 47px;
            height: 32px;
        }

        .screen_action.second .action__item:nth-child(1) {
            margin-top: 48px;
        }

        .screen_action.second .action__item:nth-child(2) {
            margin-top: 112px;
        }

        .screen_action.second .action__item:nth-child(3) {
            margin-top: 70px;
            margin-bottom: 0;
        }
        .screen_action.third .action__item {
            margin-right: 10px;
            .action__item_delimeter {
                background: url("../img/onw/Path 6041_m.svg") no-repeat;
                background-size: contain;
                width: 16px;
                height: 6px;
            }
        }
    }
    .fifth__screen {
        .content {
            padding-top: 164px;
        }
        .global__screen {
            display: none;
        }
        .action__item_description__list {
            display: none;
            &.mob {
                display: flex;
                overflow-x: auto;
                width: calc(100% + 32px);
                margin: 0 -16px;
                padding: 16px;

                  /* Hide scrollbar */
                -ms-overflow-style: none;  /* IE and Edge */
                scrollbar-width: none;  /* Firefox */
                &::-webkit-scrollbar {
                    display: none;
                }

                .item__img {
                    justify-content: flex-start;
                    align-items: center;
                    margin-right: unset;
                    flex: unset;
                    .icon {
                        margin-right: 16px;
                    }
                }
            }
            h4 {
                font-size: 16px;
                line-height: 21px;
            }
            li {
                flex: 1 0 auto;
                box-shadow: 0px 4px 16px #004d9926;
                max-width: 285px;
                background-color: #fff;
                border-radius: 6px;
                z-index: 5;
                margin-right: 15px;
                flex-direction: column;
                justify-content: flex-start;
            }
            .item__description div {
                margin-top: unset;
            }
        }
        .background__figure_31 {
            width: 109px;
            height: 135px;
            left: -130px;
        }
        .background__figure_32 {
            width: 301px;
            height: 350px;
            left: -55px;
        }
        .background__figure_33 {
            display: none;
        }
        .background__figure_34 {
            width: 288px;
            height: 370px;
            top: 22%;
            right: -58px;
        }
        .action__item {
            align-items: center;
            &.second {
                margin-top: 90px;
            }
            .item__h1 {
                width: 173px;
                height: 374px;
            }
            &.first,
            &.second {
                flex-direction: column-reverse;
                .action__item_img .action__item_img_phone {
                    width: 188px;
                    height: 389px;
                }
                .action__item_img {
                    position: relative;
                    margin-top: 20px;
                }
            }
        }

        #fixedPhone1 + .action__item_desc {
            margin-left: unset;
        }
        #fixedPhone2 + .action__item_desc {
            margin-right: unset;
        }
    }
    .sixth__screen {
        .background__figure_43 {
            width: 77px;
            height: 74px;
        }
        .background__figure_44 {
            display: none;
        }
        .background__figure_45 {
            width: 360px;
            height: 280px;
            top: 175px;
            left: 0;
            right: 0;
            margin: auto;
        }
        .content {
            padding-top: 477px;
        }
        .screen__title {
            text-align: center;
            margin-bottom: 37px;
        }
        .question__list label {
            padding: 10px 15px 10px 50px;
            &::before {
                top: 13px;
            }
        }
    }
    .seventh__screen {
        .action__item_title {
            text-align: center;
        }
    }
    footer {
        .footer__text_wrap {
            flex-wrap: wrap;
        }
        .footer__text_section {
            max-width: unset;
            margin-bottom: 29px;
        }
        .footer__text__privacy {
            align-items: flex-start;
        }
        .footer__text__privacy_policy {
            margin-top: 13px;
        }
    }
    .policy main .content{
        padding: 16px 16px 53px;
    }
}
