@media (max-width: $tablet) {
    .content {
        padding: 20px 24px;
    }

    .drop__list_wrap {
       right: 0;
    }

    .drop__list {    
        &::before {
            left: 145px !important;
        }
    }

    .screen__page > .content {
        justify-content: center;
    }

    .first__screen {
        .background__wave_1 {
            bottom: -2px;
        }
        .screen__cont__image {
            width: 706px;
        }

        .screen__cont__action {
            max-width: 720px;
            display: flex;
            flex-direction: column;
            align-items: center;

            h1,
            .screen__cont_title {
                text-align: center;
                max-width: 515px;
            }
        }

        .first__screen_cont {
            flex-direction: column-reverse;
        }

        .download__links {
            display: none;
        }

        header .menu {
            max-width: 162px;
        }
    }

    .second__screen {
        .background__figure_1 {
            display: none;
        }

        .background__figure_2 {
            display: none;
        }

        .action__item_img {
            height: 345px;
        }

        .content {
            padding-bottom: 111px;
        }
        .action__item_description {
            text-align: center;
        }
    }

    .third__screen {
        .fee__item {
            max-width: 130px;
            text-align: center;
        }

        .block__fee.first {
            align-items: baseline;
            padding-top: 10px;
            padding-left: 16px;
            padding-right: 16px;
        }

        .block__fee.second .fee__item {
            max-width: 192px;
        }
    }

    .foth__screen {
        .background__wave_2 {
            width: 1920px;
        }

        .background__figure_1 {
            width: 242px;
            height: 220px;
            top: 644px;
        }

        .background__figure_11,
        .background__figure_2,
        .background__figure_5 {
            display: none;
        }

        .background__figure_4 {
            width: 254px;
            height: 234px;
            top: 900px;
        }

        .background__figure_6 {
            width: 317px;
            height: 242px;
            top: 1200px;
        }
        .background__figure_22 {
            top: 2004px;
        }

        .screen_action.second .action__item {
            max-width: 472px;
        }
        .screen_action.third {
            overflow-x: auto;
            overflow-y: visible;
            justify-content: flex-start;
            min-height: 148px;
            margin: 20px auto;
            overflow: scroll;

            &::-webkit-scrollbar {
                display: none;
            }

        }
    }

    .fifth__screen {
        .content {
            padding-top: 186px;
        }
        .background__circle_4,
        .background__figure_14,
        .background__figure_15 {
            display: none;
        }
        .action__item {
            align-items: flex-start;
        }
        .background__figure_32 {
            left: -147px;
            width: 366px;
            height: 426px;
        }
        .background__figure_34 {
            top: -5%;
            right: -231px;
        }
        .action__item.first .action__item_img .action__item_img_phone,
        .action__item.second .action__item_img .action__item_img_phone {
            width: 223.23px;
            height: 461.73px;
        }
        .action__item .item__h1 {
            width: 204.7px;
            height: 443.23px;
        }
        .action__item.first .action__item_img,
        .action__item.second .action__item_img {
            flex: 1 0 auto;
            padding-right: 24px;
            position: relative;
            z-index: 1;
        }
        .action__item_desc {
            position: relative;
            z-index: 2;
        }
        .action__item.second .action__item_img {
            padding-left: 24px;
            padding-right: unset;
        }
        .action__item.second {
            margin-top: 158px;
        }
        .global__screen {
            margin-top: 105px;
        }
        .global__screen_img {
            width: 130%;
        }
        .global__screen_img_back {
            width: 1280px;
            top: 35px;
        }
    }
    .sixth__screen {
        .background__figure_43 {
            top: 85px;
        }
        .content {
            padding-top: 300.47px;
            padding-bottom: 154px;
            align-items: flex-start;
        }
        .screen__title {
            align-self: center;
            margin-bottom: 62px;
        }
        .background__figure_44 {
            width: 266px;
            height: 268px;
            right: -50px;
            left: unset;
        }
        .background__figure_45 {
            width: 425px;
            height: 240px;
            top: 829px;
            right: -210px;
        }
    }
    .seventh__screen {
        .content {
            padding-bottom: 173px;
        }
        .download__links_market {
            display: none;
        }
        .background__figure_54 {
            width: 378px;
            height: 208px;
            top: -28px;
        }
        .screen__title {
            margin-bottom: 28px;
        }
    }
    footer {
        .footer__text_section {
            max-width: 348px;
        }
    }
    .nomob {
        display: none;
    }
    .background__wave_3 {
        bottom: -5px;
    }
}